<form method="POST">
    <h1>Authorise this app? {{client.name}}</h1>
    <input type="radio" name="decision" value="1" checked="checked" /> Yes
    <input type="radio" name="decision" value="0" /> No
    <button>Submit</button>
</form>
