<form action='/oauth/login' method="POST">
    <p>Username: <input name="username" type="text" /></p>
    <p>Password: <input name="password" type="password" /></p>
    <input type="hidden" name="state" value="{{state}}" />
    <input type="hidden" name="redirect" value="{{redirect}}" />
    <input type="hidden" name="client_id" value="{{client_id}}" />
    <input type="hidden" name="redirect_uri" value="{{redirect_uri}}" />
    <p><button>Login</button></p>
</form>
