<form id="login" method="POST" action="{{path}}">
    <p>Username: <input name="username" type="text" /></p>
    <p>Password: <input name="password" type="password" /></p>
    <p><button>Login</button></p>
</form>
